/*globle*/
:root {
    --logo-purple: #a55fc1;
    --logo-red: #bf0000;
	--green: #bf0000;
    --light-grey: #c9c9c9;
}
input {
    outline: none;
}
li {
	list-style: none;
}
a {
    text-decoration: none;
}
/* body {
    min-width: 1200px;
} */
  /* object[data*="header.html"]{
    min-width: 1200px;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
  object[data*="footer.html"]{
    min-width: 1200px;
    margin: 0 auto;
    width: 100%;
    z-index: 999;
} */
/*globel*/

.path a:first-child{	
    color: var(--red);
}
.path a:last-child{
	color: #000;
}
.path a:hover {
	font-weight: 900;
}
.path * {
	font-size: 15px;
        margin: .25rem 0 .6rem;
}
.product-div {
	display: flex;
}
.product-div .left {
	width: 37%;
    text-align: center;
    align-self: center;
}
.product-div .left p {
    font-size: 15px;
    margin: .1rem;
}
.main-img {
	position: relative;
	width: 100%;
	margin:0 auto;
	overflow: hidden;
    border: .5px solid var(--light-grey);
}
.main-img:after {
	content: "";
	display: block;
	padding-top: 100%;
}
.img-zoon-container {
    /*border: 2px dotted hotpink;*/
    position: absolute;
}
.swiper-wrapper {
    width: 100%;
}
.small-img-div {
	margin: .5rem 0;
    width: 100%;
    position: relative;
}
.small-img-div .swiper-container {
	width: 90%;
}
.small-img-div .swiper-slide {
	position: relative;
	    border: .5px solid var(--light-grey);
        box-sizing: border-box;
}
.small-img-div .swiper-slide:after {
	content: '';
	display: block;
	padding-bottom: 90%;
}
.small-img-div .swiper-slide img {
	width: 100%;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.product-div .right {
	margin-left: 2.5rem;
    width: 63%;}
.product-div .right form {
    font-size: 16px;
}
.product-div .right h1 {
    font-size: 18px;
    margin-bottom: .5rem;
}
.product-div .right .spec, .product-div .right .qty{
	display: flex;
	align-items: center;
}
.product-div .spec .size, .product-div .qty .option {
	display: flex;
	cursor: pointer;
}
.product-div .right .amount {
	display: flex;
	align-items: center;
}
.product-div .right .amount * {
    margin: 0;
    padding: 0;
}
.product-div .right .amount h1 {
	color: var(--logo-red); 
}
.product-div .right .title {
	font-weight: 200;
	width: 2.5rem;
	text-transform: capitalize;
}
.product-div .right .spec select[name="size"],  
    .product-div .right .qty .option div, 
        .product-div .right .qty input{
	margin-right: 1rem;
	text-align: center;
	width: 70px;
    height: 28px;
	border: 1px solid var(--light-grey);
	outline: none;
	font-size: 16px;
	cursor: pointer;
    box-sizing: border-box;
}
.product-div .right .spec select[name="size"] {
    width: 75px;
}
.product-div .right .qty .option div, .product-div .right .qty input {
	margin: .5rem 0;
	padding: 0;
	position: relative;
}
.product-div .right .qty .option * + * {
	border-left: none !important;
}
/*.product-div .right .qty .subtract, .product-div .right .qty .add {
	position: relative;
}*/
.product-div .right .qty .subtract div{
    border: none;
    margin: 0;
    background: #000;
    width: 15px;
    height: 1.2px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.product-div .right .qty .add div {
    background-color: #000;
    height: 15px;
    width: 1.2px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}
.product-div .right .qty .add div:after {
    background-color: #000;
    content: "";
    height: 15px;
    width: 1.2px;
    position: absolute;
    transform: rotate(90deg);
    left: 0;
}
.product-div .right input[type="submit"] {
	background: #fff;
    width: 200px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    margin: .5rem 0;
    cursor: pointer;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    letter-spacing: 5px;
    border: 1px solid var(--red);
    color: var(--red);
}
.product-div .right input[value="ADD TO CART"]:hover {
    background: var(--red);
    color: #fff;
}
/* .product-div .right input[value="BUY NOW"]:hover img{
	background: rgba(124, 238, 206, .7) !important;
} */


.product-div .right .info-2 h3 {
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 15px;
    margin: .25rem 0;
}
.product-div .right .info-2 img, .product-div .right .info-2 i {
	width: 25px;
}
.product-div form .amount input[name="price"] {
	width: 0;
	visibility: hidden;
}
.note {
	margin-left: .5rem !important;
    font-size: 15px;
}
.page-index {
    /* border: 1px solid var(--green); */
    padding: .1rem .5rem;
    text-align: center;
    background: #fff;
    border-radius: 30px;
    /* line-height: 47px; */
    box-sizing: border-box;
    color: var(--red);
}

.description {
    margin-top: 1rem;
}
/* .product-div .right .qty input[name="qty"] {
    -moz-appearance: textfiled;
    -ms-progress-appearance: textfiled;
} */
.product-div .right .qty input[name="qty"]::-webkit-inner-spin-button, /* turn off number input spinners*/
.product-div .right .qty input[name="qty"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  appearance: none;

-ms-progress-appearance: textfiled;
-moz-appearance: textfield;

  margin: 0; 
}
.description .tab {
position: relative;
    display: flex;
    font-size: 16px;
}
.description .title {
	    padding: .25rem .5rem;
    text-transform: capitalize;
    border: 3.7px solid var(--light-grey);
    background: #fff;
    margin: 0;
    border-bottom: 0;
    cursor: pointer;
        transition: all .2s; 
}

.description .title[class='title']:hover {
	font-weight: 900;
}
.description .box {
    padding: 1.5rem 1rem;
    border: 3.7px solid var(--green);
    font-size: 16px;
    margin-bottom: 3.5rem;
}
.description .content:not(.show) {
	display: none;
}
.description .content li {
    font-size: 15px;
}
.page-index {
	display: none;
}
.description .content li {
	list-style: square;
}

.product-div .right {
  position: relative;
}
.img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 100%;
    position: absolute;
    z-index: 50;
    display: none;
       -moz-box-shadow:    0 0 10px #000000;
   -webkit-box-shadow: 0 0 10px #000000;
   box-shadow:         0 0 10px #000000;
   top: 50%;
   transform: translateY(-50%);
}
.img-zoom-result:after {
  content: "";
  display: block;
  padding-top: 67%;
}

.img-zoom-lens {
    position: absolute;
    width: 37%;
    z-index: 999;
    box-sizing: border-box;
    background-size: 3.7% 3.7%;
    background-repeat: repeat;
    background-image: radial-gradient(#c9c9c9 20%, transparent 50%);
}
.img-zoom-lens:after {
  content: "";
  display: block;
  padding-top: 67%;
}
.swiper-button-prev, .swiper-button-next {
    background: none;  
    position: absolute;
    top: 75%;  
    transform: translateY(-50%) ;
    width: 20px;
    height: 20px;
    outline: none;
}
.swiper-button-prev:before, .swiper-button-next:before{
content: "";
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(45deg);
    position: absolute;
    outline: none;
}
.swiper-button-prev:before {
        transform: rotate(225deg);
}
.arrow:before {
    border-color: var(--logo-red); 
}
.product-div .left h1, .product-div .right .small-img-div h1 {
    background: rgba(233, 233, 233, .6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: .5rem 1rem;
    border-radius: 50%;
}





@media only screen and (max-width: 900px) {
    .product-div .left, .product-div .right {
        width: 50%;
    }
}

@media only screen and (max-width: 620px) {
    .product-div {
        flex-direction: column;
    }
    .product-div .left, .product-div .right {
        width: 92%;
    }
    .img-zoom-result {
        display: none;
        width: 0;
    }
    .product-div .left p {
        display: none;
    }
    .product-div .right {
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
        margin: 0 auto;
    }
    .product-div .right .small-img-div {
        order: 1;
    }
    .product-div .right .product-name {
        order: 2;
        font-weight: 900;
    }
    .product-div .right form {
        order: 3;
    }
    .product-div .right .info-2 {
        order: 4;
    }
    .img-zoon-container {
        /* position: inherit;
        transform: none !important; */
    }

    .main-img {
        height: 60vh;
    }
    .main-img:after {
        padding-top: 0;
    }
    .img-zoom-lens {
        display: none;
    }
}

/*mobile device*/
@media only screen and (max-width: 430px) {
    .product-div .left {
        display: none;
    }
	.page-index {
        display: block;
        width: fit-content;
        margin: 0 auto;
        /* font-size: 1.5rem; */
            position: absolute;
        bottom: .5rem;
        z-index: 99;
        left: 50%;
        transform: translateX(-50%);
        opacity: .7;
    }
    .product-div .right {
        width: 92%;
    }
    .small-img-div .swiper-container {
        width: 100%;
    }
    .small-img-div .swiper-slide:after {
        display: inherit;
        padding-bottom: 0;
    }
    .small-img-div .swiper-slide img {
        position: inherit;
        transform: none;
    }
    .arrow {
        top: 50%;
        transform: none;
    }
    .tab {
        flex-direction: column;
    }
    .tab-active {
        width: 100%;
        order: 3;
        background: var(--red) !important;
    }
    .product-div .right input[type="submit"] {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 60%;
        border-radius: 50px;
        height: 37px;
        background: var(--red);
        color: #fff;
        border: navajowhite;
        letter-spacing: inherit;
    }
    .product-div .right input[type="submit"]:active {
        background: orange;
    }
    .small-img-div .img-wrapper {
        /* height: 50vh; */
        text-align: center;
    }

    }


    /*classLisa*/
    .tab-active {
        border: 3.7px solid var(--green) !important;
        border-bottom: none !important;
        margin-bottom: -4.7px !important;
        font-weight: 900;
    }
    .show {
        display: block !important;
    }
    .center-v {
        height: 100%;
            left: 50%;
        transform: translateX(-50%); 
    }
    .center-h {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
}

.small-img-div {
    /* display: none; */
}






